<div class="banner">
  <div class="container">
    <div class="header">
      <h2>Crypto - RT</h2>
      <h6>All Currencies - Anywhere - Anytime</h6>
    </div>
    <!-- <div class="sub-header">
      <marquee
        behavior="scroll"
        onmouseover="stop()"
        onmouseout="start()"
        loop="infinite"
        direction="left"
      >
      <div class="row">
        <ng-container *ngFor="let trendingCoin of trendingCoins">
          <div class="col-1">
            <div class="card">
              <img
                [src]="trendingCoin.image"
                class="img-fluid"
                width="30rem"
                [alt]="trendingCoin.name"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                {{ trendingCoin.symbol | uppercase }}
                <span>{{ trendingCoin.price_change_percentage_24h }}%</span>
              </h5>
              <p class="card-text">
                {{ trendingCoin.current_price | currency: currency }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
      </marquee>
    </div> -->
  </div>
</div>

<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      style="color: white"
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Coin</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.image" [alt]="row.name" width="30rem" />
          <span class="mx-2">{{ row.symbol | uppercase }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="current_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let row">
          {{ row.current_price | currency: currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price_change_percentage_24h">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>24h change</th>
        <td mat-cell *matCellDef="let row">
          {{ row.price_change_percentage_24h }}%
        </td>
      </ng-container>

      <ng-container matColumnDef="market_cap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Market Cap</th>
        <td mat-cell *matCellDef="let row">
          {{ row.market_cap | currency: currency }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onClickCoin(row.id)"
        style="cursor: pointer"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
