<div class="container-fluid">
    <mat-icon class="undo" (click)="goBackFn()">undo</mat-icon>
  <div class="row">
    <div class="col-md-3 details">
      <div class="img">
        <img [src]="coin.image?.large" [alt]="coin.name" />
        <h3 class="text-center" font-size="5rem">{{ coin.name }}</h3>
        <h2>{{ coin.description.en.split(". ")[0] }}</h2>
        <div class="more-details">
          <span class="title">Rank: </span>
          <span class="value">{{ coin.market_cap_rank }}</span> <br />
          <span class="title">Current Price: </span>
          <span class="value"
            >{{ currency === "USD" ? "$" : " "
            }}{{
              currency === "USD"
                ? coin.market_data.current_price.usd
                : coin.market_data.current_price.eur
            }}{{ currency !== "USD" ? "€" : " " }}</span
          >
          <br />
          <span class="title">Market Cap: </span>
          <span class="value"
            >{{ currency === "USD" ? "$" : " "
            }}{{
              currency === "USD"
                ? coin.market_data.market_cap.usd
                : coin.market_data.market_cap.eur
            }}{{ currency !== "USD" ? "€" : " " }}</span
          >
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <canvas
        style="width: 40vw"
        baseChart
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
      ></canvas>
      <div class="d-flex justify-content-around">
        <button (click)="onChangeDays(1)" class="btn btn-custom">
          24 hours
        </button>
        <button (click)="onChangeDays(30)" class="btn btn-custom">
          30 days
        </button>
        <button (click)="onChangeDays(90)" class="btn btn-custom">
          90 days
        </button>
        <button (click)="onChangeDays(365)" class="btn btn-custom">
          1 year
        </button>
      </div>
    </div>
  </div>
</div>
